<div class="sign_up_form">
  <h1> Add A Service Area </h1>
  <p><%= link_to 'Back', root_path %></p>

  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
  <% end %>

  <%= render "form" %>
  </div>
