<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li class="disabled">Plastic Planters</li>
  </ul>
</nav>

<div class="cat_description">
  <div class="cat_pic">
    <p><img src="https://www.godawn.com/wp-content/uploads/2016/02/Plastic-Planter-Header-Image-768x267.jpg" alt="Plastic Planters" width="700"></p>
  </div>

  <h1> Plastic Planters </h1>

  <p> Our plastic planters are extremely durable, their solid construction will hold up well to harsh weather and long term use without showing signs of wear and tear making them perfect for schools, parks, and unsupervised commercial and residential areas. These plastic planters are an eco-friendly alternative to wood or concrete. Recycled plastic planters are a worry-free long-lasting solution for indoor/outdoor decor and all your planting needs. </p>
</div>

<div class="cat_products">
  <body>
    <ul class="small-block-grid-3">
      <% @plastic_planters.each do |plastic_planter| %>
        <li><%= link_to plastic_planter.product_name, plastic_planter %>
        <img src="<%= plastic_planter.image %>"></li>
        <% end %>
    </div>
  </body>
</div>
