<div class="hero-section-about-us">
  <div class="hero-section-text">
  </div>
</div>

<h1> About Us </h1>

<div class="cat_description">
<p>BigPlanters.com is dedicated to providing the best possible planter solution for your plants and trees. Our product line includes a variety of outdoor planters including Planter Pots, Garden Planters, Concrete Planters, Plastic Planters, Metal Planters, Fiberglass Planters, Recycled Planters, Tree Tubs, and Self-Watering Planters. Our commitment is to make purchasing the right planter an informative and hassle-free experience.
<br/><br/>
BigPlanters.com designed this website in order to allow you the ability to easily search a large variety of planters and related products. It is of utmost importance to us that you, the customer, derive great confidence in value and receive unparalleled quality in service.</p>

</div>

<!-- <div class="cat_pic">
  <p><img src="https://www.godawn.com/wp-content/uploads/2016/02/About-Us-Big-Planters.jpg" alt="Concrete Planters" width="700"></p>
</div> -->
