<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li class="disabled">Fiberglass Planters</li>
  </ul>
</nav>

<div class="cat_description">
  <div class="cat_pic">
    <p><img src="https://www.godawn.com/wp-content/uploads/2016/02/Fiberglass-Planters-Header-Image-768x267.jpg" alt="Fiberglass Planters" width="700"></p>
  </div>


  <h1> Fiberglass Planters </h1>

  <p> Our fiberglass planters are a care-free solution to beautifying any indoor or outdoor space by adding an attractive home for your plants. These planters are so popular because they are durable, attractive, light, and functional. Available in a wide variety of vibrant colors and finishes to fit whatever your design needs may be. We also offer a wide range of sizes and styles to fit your design needs. If you wish to learn more please feel free to contact our sales support or submit a submission form and we will be happy to assist you in finding the right planter for your project! </p>
</div>

<div class="cat_products">
  <body>
    <ul class="small-block-grid-3">
      <% @fiberglass_planters.each do |fiberglass_planter| %>
        <li><%= link_to fiberglass_planter.product_name, fiberglass_planter %>
        <img src="<%= fiberglass_planter.image %>"></li>
        <% end %>
    </div>
  </body>
</div>
