<div class="cat_pic">
  <p><img src="https://www.godawn.com/wp-content/uploads/2016/01/Hotchkiss-Showcase-960x420_c.jpg" alt="Concrete Planters" width="700"></p>
</div>

<h1> Concrete Planters </h1>

<div class="cat_description">
  <p> Our concrete planters come in multiple sizes: 2′, 3′, 4′, 5′, 6′ and 7′. Due to the size and weight of these planters, they provide excellent security barriers while adding to the beauty of commercial properties, parks and recreation areas. Durable construction will hold up well to weather conditions making these planters a practical long-term outdoor showcase for your plants. We offer a variety of colors and finish options to fit your design needs.
  <br/><br/>
  If you wish to learn more please feel free to contact our sales support or submit a submission form and we will be happy to assist you in finding the right planter for your project! </p>
</div>

<ul class="small-block-grid-4">
  <li><%= link_to 'Product 1', '/concrete_planters/:id' %></li>
  <li><%= link_to 'Product 2', '/concrete_planters/:id' %></li>
  <li><%= link_to 'Product 3', '/concrete_planters/:id' %></li>
  <li><%= link_to 'Product 4', '/concrete_planters/:id' %></li>
</ul>
