
<div class="home_cat_description">
  <br/>
      <div class="large-12 small-centered columns">
        <img class="bigplanterslogo" src="http://www.bigplanters.com/mm5/images/logo.jpg" alt="Big Planters">


          <div class="hero-section-home">
            <div class="hero-section-text">
            </div>
          </div>

          <p> BigPlanters.com is dedicated to providing the best possible planter solution for your plants and trees. Our product line includes a variety of outdoor planters including Planter Pots, Garden Planters, Concrete Planters, Plastic Planters, Metal Planters, Fiberglass Planters, Recycled Planters, Tree Tubs, and Self-Watering Planters. Our commitment is to make purchasing the right planter an informative and hassle-free experience.
          <br/><br/>
          BigPlanters.com designed this website in order to allow you the ability to easily search a large variety of planters and related products. It is of utmost importance to us that you, the customer, derive great confidence in value and receive unparalleled quality in service. </p>
      </div>

      <div class="grid4">
      <ul class="large-block-grid-4 medium-block-grid-4 small-block-grid-1">
        <li><a href="/concrete_planters"><img src="https://www.godawn.com/wp-content/uploads/2016/02/Concrete-Planters-Sub-Pic-sized-1.jpg" alt="Concrete Planters"> <br><%= link_to 'Concrete Planters', concrete_planters_path %> </li>
        <li><a href="/fiberglass_planters"><img src="https://www.godawn.com/wp-content/uploads/2016/02/Fiberglass-Planters-Sub-Pic-sized-1.jpg" alt="Fiberglass Planters"> <br> <%= link_to 'Fiberglass Planters', fiberglass_planters_path %> </li>
        <li><a href="/plastic_planters"><img src="https://www.godawn.com/wp-content/uploads/2016/02/Plastic-Planters-Category-Pic-sized-1-560x826.jpg" alt="Plastic Planters"> <br> <%= link_to 'Plastic Planters', plastic_planters_path %> </li>
        <li><a href="/metal_planters"><img src="https://www.godawn.com/wp-content/uploads/2016/02/steel_planter-cat-pic-1.jpg" alt="Metal Planters"> <br> <%= link_to 'Metal Planters', metal_planters_path %> </li>
      </ul>
    </div>


    <div class="contact_button">
      <a class="button small expanded" href="/customers/new">Contact Us</a>
    </div>
  </br>
</div>

<div class="hide-for-medium-down">
  <div class="subfooter">
    <ul class="small-block-grid-3">
      <li> <br/><br/>PART OF THE DAWN ENTERPRISES FAMILY </li>
      <li><img class="dawnlogo" src="https://www.godawn.com/wp-content/uploads/2016/02/Dawn-Logo-Side-by-Side.png" alt="Concrete Planters" height="350" width="350"></li>
      <li> <br/><br/>CLICK HERE TO LEARN MORE </li>
    </ul>
  </div>
</div>
