<div class="cat-index">
  <h1><%= @product.name %></h1>
</div>

<div class="cat_pic">
  <p><img src= "<%= @product.image %>" width="700"></p>
</div>

<div class="cat_description">
  <p><%= @product.description %></p>
</div>
