<!-- <p> Big Planters Home Page </p> -->

<br/>

<div class="row">
  <div class="small-9 small-centered columns">


      <p><img src="https://www.godawn.com/wp-content/uploads/2016/01/Urban-Farmers-Showcase-960x420_c.jpg" alt="Big Planters" width="700"></p>

    <p> BigPlanters.com is dedicated to providing the best possible planter solution for your plants and trees. Our product line includes a variety of outdoor planters including Planter Pots, Garden Planters, Concrete Planters, Plastic Planters, Metal Planters, Fiberglass Planters, Recycled Planters, Tree Tubs, and Self-Watering Planters. Our commitment is to make purchasing the right planter an informative and hassle-free experience.
    <br/><br/>
    BigPlanters.com designed this website in order to allow you the ability to easily search a large variety of planters and related products. It is of utmost importance to us that you, the customer, derive great confidence in value and receive unparalleled quality in service. </p>
  </div>

</div>

<ul class="small-block-grid-4">
  <li><img src="https://www.godawn.com/wp-content/uploads/2016/02/Concrete-Planters-Sub-Pic-sized-1.jpg" alt="Concrete Planters"> <%= link_to 'Concrete Planters', concrete_planters_path %> </li>
  <li><img src="https://www.godawn.com/wp-content/uploads/2016/02/Fiberglass-Planters-Sub-Pic-sized-1.jpg" alt="Fiberglass Planters"> <%= link_to 'Fiberglass Planters', fiberglass_planters_path %> </li>
  <li><img src="https://www.godawn.com/wp-content/uploads/2016/02/Plastic-Planters-Category-Pic-sized-1-560x826.jpg" alt="Plastic Planters"> <%= link_to 'Plastic Planters', plastic_planters_path %> </li>
  <li><img src="https://www.godawn.com/wp-content/uploads/2016/02/Self-Watering-Sub-sized-1.jpg" alt="Self Watering Planters"></li>
</ul>
