<br>
<div class="hero-section-metal">
</div>

<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li class="disabled">Metal Planters</li>
  </ul>
</nav>


<div class="cat_description">
  <h1> Metal Planters </h1>

  <p> Our metal planters combine design, strength, and durability making them an attractive and long-term solution to your planting needs. We offer many styles, shapes and sizes of metal planters and they are available in many color options to fit your specific design needs. </p>
</div>

<div class="cat_products">

      <% @metal_planters.each do |metal_planter| %>
        <div class="medium-12 large-4 columns"><%= link_to metal_planter.product_name, metal_planter %>
          <p><a href=" <%= "/metal_planters/#{metal_planter.id}" %>"><img class="image-tile" src="<%= metal_planter.image %>" alt=" <%= metal_planter.product_name %>"></a></p></div>
        <% end %>

</div>
