<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li class="disabled">Metal Planters</li>
  </ul>
</nav>

<div class="hero-section-metal">
</div>

<div class="cat_description">
  <h1> Metal Planters </h1>

  <p> Our metal planters combine design, strength, and durability making them an attractive and long-term solution to your planting needs. We offer many styles, shapes and sizes of metal planters and they are available in many color options to fit your specific design needs. </p>
</div>

<div class="cat_products">
  <body>
    <ul class="small-block-grid-3">
      <% @metal_planters.each do |metal_planter| %>
        <li><%= link_to metal_planter.product_name, metal_planter %>
          <p><a href=" <%= "/metal_planters/#{metal_planter.id}" %>"><img src="<%= metal_planter.image %>" alt=" <%= metal_planter.product_name %>"></a></p></li>
        <% end %>
    </div>
  </body>
</div>
