/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.row {
  margin-top: 100px;
}

.large-9 {
  width: 80%;
}

.number {
  margin-top: 1px;
  margin-left: 16px;
  color: white;
}

.breadcrumbs {
  margin-left: 30px;
  margin-right: 30px;
}

.home-text {
  text-align: center;
  margin-left: 3%;
  margin-right: 3%;
}

.sign_up_form {
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10%;
  width: 60%;
}

.top-bar {
   background-color: #095EAB;
 }

 .user_email {
   height: 45px;
   color: white;
   background-color: #095EAB;
   padding-top: 7px;
   padding-right: 15px;
   padding-left: 5px;
 }

.grid4 {
  /* background-color: gray; */
  margin-left: 10%;
  margin-right: 10%;
  /* width: 800px; */
  text-align: center;
}

.grid4 img {
  width: 200px;
  /* border: solid 1px black; */
  border-radius: 10px;
}

.grid4 img:hover{
   background-color: white;
   opacity: 0.5;
   -ms-transform: scale(1.2); /* IE 9 */
     -webkit-transform: scale(1.2); /* Safari 3-8 */
     transform: scale(1.2);
 }

.dawnlogo {
  margin-top: 2%;
}

.bigplanterslogo {
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
  border: solid 1px black;
  border-radius: 10px;
  opacity: 0.9;
}

.image-tile {
  width: 250px;
  height: 250px;
  border: solid 1px black;
  border-radius: 10px;
}

.image-tile:hover {
   background-color: white;
   opacity: 0.5;
 }

 .small-2 {
   background-color: #D6DEE4;
   padding-top: 10px;
   padding-bottom: 12px;
   margin-left: 10px;
   margin-right: 20px;
   border-radius: 15px;
 }

.productimage{
  border-radius: 5px;
  margin-right: 15px;
  width: 250px;
  height: 250px;
  border: solid 1px black;
}

.column_related {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.relatedproductimage{
  width: 230px;
  height: 230px;
}

.productimage:hover{
  border: solid 2px white;
  border-radius: 15px;
  -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

.side_nav {
  margin-top: 100px;
}

.moreinfopic {
  margin: auto;
  width: 100%;
  border-radius: 10px;
}

.cat_pic {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 10px;
}

.home_cat_description {
  margin: auto;
  width: 90%;
  border: solid 1px black;
  border-radius: 5px;
}

.cat_description {
  margin: auto;
  width: 90%;
  text-align: center;
}

.contact_button {
  width: 40%;
  object-position: center;
  margin-top: 20px;
  margin-left: 30%;
  margin-right: 30%;

}

.contact_form{
  padding: 2%;
  margin: auto;
  margin-bottom: 15%;
  width: 50%;
  border: solid 2px black;
  border-radius: 10px;
}

.cat_products {
  text-align: center;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 800px;
}

.show_products {
  text-align: center;
  /* background-image: linear-gradient(#D4D4D4, #FAFAFA); */
  background-color: #E9E9E9;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: .5%;
  padding-bottom: .5%;
  border-radius: 5px;
}

.show_products_main {
  background-image: linear-gradient(#D4D4D4, #FAFAFA);
  /* background-color: lightgray; */
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: .5%;
  padding-bottom: 1%;
  border-radius: 5px;
}

.show_products_title {
  text-align: center;
  /* background-image: linear-gradient(#095EAB, #E9E9E9); */
  background-color: #095EAB;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: .5%;
  padding-bottom: 2%;
  /* border-radius: 5px; */
  border: solid 1px black;
}

.show_products_bottom {
  text-align: center;
  /* background-image: linear-gradient(#D4D4D4, #FAFAFA); */
  background-color: #E9E9E9;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: .5%;
  padding-bottom: .5%;
  border-radius: 5px;
}

.show_products_related {
  text-align: center;
  /* background-image: linear-gradient(#D4D4D4, #FAFAFA); */
  background-color: #E9E9E9;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: .5%;
  padding-bottom: .5%;
  border-radius: 5px;
  height: 380px;
}

.edit_form {
  padding-bottom: 15%;
}

.previous {
    float: left;

}

.previous a {
  color: white;
  font-size: 15pt;
  font-family: Arial;
}

.next {
  float: right;
}

.next a {
  color: white;
  font-size: 15pt;
  font-family: Arial;
}

.categorylink a {
  text-align: center;
  color: white;
  font-size: 15pt;
  font-family: Arial;
}

.content-wrapper {
  margin-top: 55px;
}

.button {
  background-color: #095EAB;
  width: 80%;
  margin-left: 9%;
  margin-top: 2px;
  margin-bottom: 1px;
  border-radius: 5px;
  border: solid 1px lightgray;
}

.button:hover {
  background-color: #4786BD;
}

.header-row {
  background-image: linear-gradient(#095EAB, #E9E9E9);
  height: 50px;
  color: black;
  text-align: center;
  padding-top: 12px;
}

.header-row-1 {
  background-color: #095EAB;
  height: 30px;
  color: black;
  text-align: center;
}

.header-row a {
  color: black;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
}

.header-row-1 a {
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  /* font-weight: bold; */
}

.service_map {
  width: 46%;
  margin-left: 5%;
}

.subfooter {
  margin: 40px 0 20px 0;
  padding-top: 0;
  width: 100%;
  height: 120px;
  background-color: #d3d3d3;
  text-align: center;
  font-weight: bold;
}

.subfooter img {
  align-items: center;
  height: 100px;

}

.footer {
  display: inline-block;
  bottom: 0;
  /* background-color: #095EAB; */
  width: 100%;
  margin-top: 0%;
}

.footer p{
  color: white;
}

.footer_link {
  color: white;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
    text-align: center;
    height: 105px;
    background-color: #095EAB;
}

.column:hover {
  background-color: #4786BD;
  border: 1px solid white;
}

h1 {
  text-align: center;
}

.show_products_title h2 {
  text-align: center;
  font-family: Arial;
  font-weight: bold;
  color: #FAFAFA;
}

.footer h2 {
  text-align: center;
  font-family: Arial;
  font-weight: bold;
  color: #FAFAFA;
}

h4 {
  text-align: center;
}

h5 {
  text-align: center;
  font-weight: bold;
}

.footer h6 {
  color: white;
}
