<div>
  <div class="column">
    <h6>Contact Us:</h6>
    <p>Phone: 1-800-262-3296
    </br>Email: info@bigplanters.com</p>
  </div>
  <div class="column">
    <h6>Email Us Today:</h6>
    <a class="footer_link" align="center" href="/customers/new">Click To Email Us!</a>
  </div>
  <div class="column">
    <h6>About Us:</h6>
    <a class="footer_link" align="center" href="/about_us">Click To Learn More!</a>
  </div>
  <div class="column">
    <h6>BigPlanters</h6>
    <p>Our Planters.
    </br>Beautify Your Space.</p>
  </div>
</div>
