
  <div class="column">
    <h5>Contact Us:</h5>
    <p><strong>Phone: 1-800-262-3296
    </br>Email: info@bigplanters.com</strong></p>
  </div>
  <div class="column">
    <h5>Email Us Today:</h5>
    <a class="button_footer small expanded" align="center" href="/customers/new">Email Us!</a>
  </div>
  <div class="column">
    <h5>About Us:</h5>
    <a class="button_footer small expanded" align="center" href="/about_us">Learn More!</a>
  </div>
  <div class="column">
    <h5>BigPlanters</h5>
    <p><strong>Our Products.
    </br>Your Space.</strong></p>
  </div>
